body {
  /* 흰색 여백 없애기 */
  margin: 0%;
}

.landing-1 {
  /* 배경 그라데이션, 투명도 */
  background: linear-gradient(
      135deg,
      rgba(238, 130, 238, 0.8),
      rgba(0, 0, 255, 0.8)
    ),
    url(background_img.jpg);
  /* 화면 꽉 차게 */
  /* 이상해이상해!!!!!!!!!!!!!!!!!!! 우측에 흰색 여백이 생김... */
  /* background-size: cover; */
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;

  /* 적용 안 됨: 좌측하단 곡선만들기 */
  border-bottom-left-radius: 150px;

  /* 글꼴 */
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}
.top h1 {
  margin-left: 92px;
  margin: 0px;
  /* 폰트 설정이 안 됨 */
  font-family: 'Do Hyeon', sans-serif;
}
.top ul {
  display: table;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}
.top ul li {
  display: inline;
  padding-right: 25px;
  padding-left: 25px;
}
.category-mobile {
  display: none;
}

.top button {
  display: none;
}

.mypage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/* .contents {
    display: flex;
    flex-flow: column;
    justify-content: center;
} */
#welcome_txt {
  text-align: center;
  font-size: 5rem;
  font-family: 'Do Hyeon', sans-serif;
  animation: appear 2s ease-out;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 드롭박스와 검색창 */
.search {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* 드롭박스 */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown_btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown_menu {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
  display: none;
}
.dropdown_menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown_menu a:hover {
  background-color: #eee;
}
.dropdown:hover .dropdown_menu {
  display: block;
  background-color: rgb(255, 255, 255);
  border: none;
}

/* 검색창 */
.searchbox {
  display: flex;
  height: 100%;
  margin-left: 2%;
  border: none;
}
.search-txt {
  height: 50px;
  width: 100px;
  color: gray;
}
.searchbox {
  flex-flow: row;
}
.search-txt-mobile {
  display: none;
}

/* 반응형 */
@media (max-width: 767px) {
  .category {
    display: none;
  }
  .top button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
  .top button:hover {
    background-color: #eee;
    color: gray;
    border-color: gray;
  }

  /* 이건 왜 안 돼 */
  /* .category-btn ul {
    display: table;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .category-btn ul li {
    display: inline;
    padding-right: 25px;
    padding-left: 25px;
  } */
  /* .category-btn:hover .category-mobile ul {
    display: table;
  }
  .category-btn:hover .category-mobile ul li {
    list-style: none;
    font-size: 11px;
    color: white;
  } */

  .category-btn:hover .category-mobile {
    display: block;
    position: fixed;
    border: 2px solid #eee;
    border-radius: 10px;
    background-color: #eee;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 2%;
  }
  .category-btn:hover .category-mobile li {
    font-size: 15px;
    display: block;
    padding: 0px;
    padding-bottom: 5%;
  }
  /* .category-btn:hover .category-mobile ul {
    display: block;
    background-color: transparent;
    font-size: 10px;
    border: none;
    color: black;
  } */
  .top {
    justify-content: space-between;
  }
  .mypage {
    margin-right: 1rem;
  }
  .mypage-and-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #welcome_txt {
    font-size: 3rem;
  }

  .search {
    flex-flow: column;
    align-items: center;
  }

  .dropdown_btn {
    height: 50px;
    width: 250px;
    color: gray;
  }
}
